/* press ctrl+f to search in this file - /* to find all the comments. good luck! ;)
/* ctrl+shift+i */
/* remove empty lines */
/* remove comments when done */
#sign-in {
    grid-area: sign-in;
    margin-top: 20vh;
}

#sign-up {
    grid-area: sign-up;
}

#have-account {
    margin-top: 15vh;
}
#sign-up-btn {
    width: 90%;
    background-color: #851afe;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sign-up-btn:hover {
    background-color: #7a63fc;

}

label {
    font-size: large;
    font-weight: 550;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* I think this should be at the top */
body {
    background-color: rgb(229, 208, 249);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        '. sign-in .'
        '. . sign-up';
}